@import './base.css';

body {
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#app {
  width: 100%;
}

.box {
  width: 100%;
  display: flex;
  padding: 10px;
}

.box-month {
  width: calc(50% - 10px);
}

.box-note {
  width: calc(50% - 10px);
  background-color: #7e7e7e;
  margin: 10px 0;
  padding: 10px;
  display: none;
}

.box-switch {
  margin: 0 20px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.switcher {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
}

.switcher:hover {
  cursor: pointer;
  opacity: 0.5;
}

.switcher:active {
  width: 95px;
  height: 35px;
}

.wrapper {
  width: 90%;
  background-color: #7e7e7e;
  box-shadow: 0px 5px 5px 5px rgba(234, 232, 232, 0.17);
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title-year-month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title-year,
.title-month {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.title-week,
.day-items {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title-week-number,
.week-number {
  color: #fff;
  font-size: 18px;
  width: 50px;
}

.week-number-item {
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-height: 20px;
}

.box-title-week-day {
  min-width: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.week-number {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.text {
  color: #fff;
}

.weekEnd {
  font-size: 20px;
  font-weight: bold;
  color: rgb(212, 56, 56);
}

.title-week-day {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-width: calc(100% - 50px);
}

.day-item {
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.notInMonth {
  color: #555454;
}

.days-number-text,
.current-day {
  color: inherit;
  font-size: 20px;
  font-weight: bold;
}

.days-number-text:hover {
  cursor: pointer;
}

.current-day {
  color: rgb(96, 175, 244);
  font-size: 18px;
  font-weight: bold;
  border: rgb(96, 175, 244) 2px solid;
  padding: 5px;
  border-radius: 50%;
}

.week-end {
  color: rgb(212, 24, 24);
  font-size: 20px;
  font-weight: bold;
}